<div style="background-color: white;">
  <mat-toolbar style="display: flex">
    <div class="icon"></div>
    <span [innerHtml]="title" style="margin-top: 4px;"></span>
  </mat-toolbar>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" style="display: flex; flex-direction: column;">
        <ng-template matStepLabel>Accounts</ng-template>
        <div style="margin-bottom: 15px;"></div>
        <mat-form-field appearance="outline">
          <mat-label>Network</mat-label>
          <mat-select name="network" formControlName="network">
            <mat-option *ngFor="let network of networks" [value]="network" [innerText]="network.name">
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Account 1 : Mnemonic</mat-label>
          <input matInput placeholder="Account 1 : Mnemonic" formControlName="accountOneMnemonic" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Account 2 : Mnemonic</mat-label>
          <input matInput placeholder="Account 2 : Mnemonic" formControlName="accountTwoMnemonic" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Account 3 : Mnemonic</mat-label>
          <input matInput placeholder="Account 3 : Mnemonic" formControlName="accountThreeMnemonic" required>
        </mat-form-field>
        <div style="display: flex; justify-content: flex-end;">
          <button class="next" mat-raised-button matStepperNext color="primary"
            [disabled]="firstFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" style="display: flex; flex-direction: column;">
        <ng-template matStepLabel>Asset</ng-template>
        <div style="margin-bottom: 15px;"></div>
        <mat-form-field appearance="outline">
          <mat-label>Total Issuance (Total Supply)</mat-label>
          <input matInput placeholder="Total Issuance (Total Supply)" formControlName="totalIssuance" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Unit Name</mat-label>
          <input matInput placeholder="Unit Name" formControlName="unitName" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Asset Name</mat-label>
          <input matInput placeholder="Asset Name" formControlName="assetName" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Asset URL</mat-label>
          <input matInput placeholder="Asset URL" formControlName="assetURL" required>
        </mat-form-field>
        <div style="display: flex; justify-content: space-between;">
          <button mat-raised-button matStepperPrevious class="prev" [disabled]="isLoading">Back</button>
          <button mat-raised-button class="next" (click)="createAsset()" color="primary"
            [disabled]="secondFormGroup.invalid" [innerText]="buttonText"></button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form style="display: flex; flex-direction: column;">
        <ng-template matStepLabel>Result</ng-template>
        <div style="margin-bottom: 15px;"></div>
        <div style="display: flex; justify-content: space-between;">
          <button mat-raised-button matStepperPrevious class="prev" [disabled]="isLoading">Back</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
