* {
    font-family: 'Lato', sans-serif;
}

.mat-step-header {
  pointer-events: none !important;
}

.icon {
  margin-top: 2px;
  margin-left: -6px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('../assets/media-kit/algo-icon.svg');
}

button {
  &.next, &.prev {
    font-size: 14px;
    height: 51.31px;
    width: 100px;
  }
}

a {
  text-decoration: none;
}